*{
  margin: 0;
  padding: 0;
  outline: 0;
  text-decoration: none;
  font-family: 'Inter', sans-serif;
  box-sizing: border-box;
  font-weight: 700;
}

body{
  background-color: hsl(0, 0%, 12%);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

img{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
border-radius: 50%;
margin: 25px;
}


h1{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h4{
  color: hsl(75, 94%, 57%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 25px;
}

p{
  margin: 25px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

a {
  color: white;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px;
}

.card{
  background-color: hsl(0, 0%, 8%);
  padding: 2rem;
  margin: 25px;
  border-radius: 15px;
  width: 20rem;
}

.card a{
  background-color: hsl(0, 0%, 20%);
  margin: 0.5rem;
  padding: 0.75rem;
  border-radius: 8px;
  transition: all 0.3s ease;
  width: 90%;
  text-align: center;
  display: block;
  margin: 20px 0;

}


@media(max-width:375px){
  .card a {
    flex-direction: column;
    gap: 15px;
    display: flex;
    align-items: center;
  }
}





